ReportTest/ReportTest/Web References/reportService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1067/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1067/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1067/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReportService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Reports_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="Reports_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="Reports_getBasicReport_InputMessage">
    <wsdl:part name="parameters" element="tns:getBasicReport" />
  </wsdl:message>
  <wsdl:message name="Reports_getBasicReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBasicReportResponse" />
  </wsdl:message>
  <wsdl:message name="Reports_getDetailedReport_InputMessage">
    <wsdl:part name="parameters" element="tns:getDetailedReport" />
  </wsdl:message>
  <wsdl:message name="Reports_getDetailedReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDetailedReportResponse" />
  </wsdl:message>
  <wsdl:message name="Reports_getDepartmentReport_InputMessage">
    <wsdl:part name="parameters" element="tns:getDepartmentReport" />
  </wsdl:message>
  <wsdl:message name="Reports_getDepartmentReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDepartmentReportResponse" />
  </wsdl:message>
  <wsdl:message name="Reports_getTechnicianReport_InputMessage">
    <wsdl:part name="parameters" element="tns:getTechnicianReport" />
  </wsdl:message>
  <wsdl:message name="Reports_getTechnicianReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTechnicianReportResponse" />
  </wsdl:message>
  <wsdl:message name="Reports_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="Reports_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="Reports">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/Reports/GetData" message="tns:Reports_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Reports/GetDataResponse" message="tns:Reports_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBasicReport">
      <wsdl:input wsaw:Action="http://tempuri.org/Reports/getBasicReport" message="tns:Reports_getBasicReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Reports/getBasicReportResponse" message="tns:Reports_getBasicReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDetailedReport">
      <wsdl:input wsaw:Action="http://tempuri.org/Reports/getDetailedReport" message="tns:Reports_getDetailedReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Reports/getDetailedReportResponse" message="tns:Reports_getDetailedReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDepartmentReport">
      <wsdl:input wsaw:Action="http://tempuri.org/Reports/getDepartmentReport" message="tns:Reports_getDepartmentReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Reports/getDepartmentReportResponse" message="tns:Reports_getDepartmentReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTechnicianReport">
      <wsdl:input wsaw:Action="http://tempuri.org/Reports/getTechnicianReport" message="tns:Reports_getTechnicianReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Reports/getTechnicianReportResponse" message="tns:Reports_getTechnicianReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/Reports/GetDataUsingDataContract" message="tns:Reports_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Reports/GetDataUsingDataContractResponse" message="tns:Reports_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Reports" type="tns:Reports">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/Reports/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBasicReport">
      <soap:operation soapAction="http://tempuri.org/Reports/getBasicReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetailedReport">
      <soap:operation soapAction="http://tempuri.org/Reports/getDetailedReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDepartmentReport">
      <soap:operation soapAction="http://tempuri.org/Reports/getDepartmentReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTechnicianReport">
      <soap:operation soapAction="http://tempuri.org/Reports/getTechnicianReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/Reports/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_Reports" binding="tns:BasicHttpBinding_Reports">
      <soap:address location="http://localhost:1067/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>